* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main_outer {
    width: 100%;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0px auto;
    background-color: #19647E;
}

.main_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 1rem;
    width: 700px;
    height: 85vh;
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 2em;
    position: relative;
    cursor: pointer;
    animation: rotateAnimation1 1.5s linear 1;
}
@keyframes rotateAnimation1 {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
.card-back {
    background-image: url('https://www.shutterstock.com/image-vector/playing-cards-back-600nw-335546222.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    height: 200px;
    font-size: 0;
    animation: rotateAnimation2 1.5s linear 1;
}
@keyframes rotateAnimation2 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}

.top {
    position: absolute;
    top: 20px;
    left: 15px;
}

.center {
    position: absolute;
    top: 90px;
    left: 60px;
    font-size: 2.5em;
}

.bottom {
    position: absolute;
    top: 200px;
    left: 120px;
}

.bottom>div:nth-child(2) {
    transform: rotate(180deg);
}

.card2 span {
    color: green;
}

.card3 span {
    color: red;
}

.card4 span {
    color: blue;
}
.controls{
    padding: 0 0 5rem 0;
}
.controls>input {
    padding: 0.7rem 0.9rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    margin: 0 0.5rem;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}