body{
    margin:0
}
.main_outer{
    width: 700px;
    height: 100vh;
    display: grid;
    place-items: center;
}
.main_inner>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input[type=text],input[type=password]{
    padding: 0.5rem 0.7rem;
}
.model-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}